<h1>Home Page</h1>

<div class="row">
  <% @users.each do |user| %>
    <div class="col mt-5">
      <div class="card" style="width: 18rem;">
        <%= user.first_name%>
        <%= user.last_name%>
        <%= user.email%>
      </div>
    </div>
  <% end %>
</div>